.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}


.arial{
    font-family: arial;
}

.sans {
    font-family: sans-serif;
}

.mono {
    font-family: monospace;
}