.heading {
    text-align: center;
    text-transform: capitalize;
}


* {
    font-family: monospace;
}



.outer {
    font-size: 25px;
}

.inner {
    font-size: 10px;
}



a {
    text-decoration: none;
}

.line1 {
    line-height: 1;
}

.line15 {
    line-height: 1.5;
}

.line2 {
    line-height: 2;
}